body{
    font-family: "Oswald", sans-serif; 
}

.fontof_h1{
    font-size:50px;
    font-family: "Nerko One", cursive;

}
#zone{
    color: rgb(255, 155, 24);
}

.namehighlight{
    color: rgb(245, 195, 126);
    font-size: 50px;
    font-family: "Nerko One", cursive;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 10%;
    
    padding-left: 3%;
}
.half-width img{
    width:100%;
    margin-top: 50px;
}

.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,tomato);
    background-color: rgb(244, 179, 59) ;
    padding: 10px 20px; 
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

h2{
    font-size:40px ;
}
.dream-area{
    background-image: url();
} 

























