body{
    background-image: linear-gradient(rgb(89, 212, 234),rgb(229, 248, 239));
    font-family: "Oswald", sans-serif; 
}

.fontof_h1{
    font-size:45px;
    color: aliceblue;
    font-family: "Nerko One", cursive;

}
#zone{
    color: rgb(43, 157, 163);
}

.namehighlight{
    color: rgb(70, 113, 204);
    font-size: 40px;
    
    font-family: "Nerko One", cursive;
}
section{
    background-image: url(images/download-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 500px;
    padding-bottom: 200px;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 10%;
    
    padding-left: 3%;
}
.half-width img{
    width:100%;
    margin-top: 50px;
}

.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,tomato);
    /* background-color: rgb(244, 179, 59) ; */
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

h2{
    font-size:30px ;
}
#Anti-discrimination-paragraph{
    padding-top: 100px;

}
.single-experience{
    box-shadow: 10px 10px 30px gray ;
    border-radius: 5px;
    height: 80%;
    width: 35%;
}

#full-stack{
    border-left: 7px solid ;
    border-image: linear-gradient( 180 deg, rgb(0, 0, 0),rgb(255, 30, 30));
    border-image-slice: 1;

}
#baby-web{
    border-left: 5px solid;
    border-image:linear-gradient( 180 deg, rgb(38, 85, 226),rgb(20, 204, 255)) ;
    border-image-slice: 2;

}

/* linear-gradient ( rgb(54, 98, 232),rgb(20, 204, 255)) */


footer{
    text-align: center;
    font-size: 15px;
}
















